Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    google-explicit-constructor,
    modernize-*,
    -modernize-return-braced-init-list,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    performance-*,
    -performance-no-int-to-ptr,
    readability-*,
    -readability-identifier-length,
    -readability-magic-numbers,
    -readability-redundant-access-specifiers
HeaderFilterRegex: 'src/*'

