name: CI

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    steps:
      # Configure problem matchers for C++ build errors and warnings.
      - name: Setup Problem Matchers
        uses: Trass3r/setup-cpp@master

      - name: Install clang-tidy
        run: |
          sudo apt-get update
          sudo apt-get install clang-tidy
        if: runner.os == 'Linux'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libnautilus-extension-dev qtbase5-dev libqt5x11extras5-dev

      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        shell: bash
        working-directory: ${{runner.workspace}}/build
        run: cmake --build . --config $BUILD_TYPE --parallel $(nproc)

      - name: Package
        shell: bash
        working-directory: ${{runner.workspace}}/build
        run: cpack

      - name: Archive Package
        uses: actions/upload-artifact@v6
        with:
          name: package
          path: ${{runner.workspace}}/build/*.deb
          if-no-files-found: error

  clang-format:
    name: Check Code Formatting
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Check Code Formatting
        uses: DoozyX/clang-format-lint-action@v0.20
        with:
          source: src
          clangFormatVersion: 11

  clazy:
    name: Check Clazy Warnings
    runs-on: ubuntu-22.04

    steps:
      # Configure problem matchers for C++ build errors and warnings.
      - name: Setup Problem Matchers
        uses: Trass3r/setup-cpp@master

      - name: Install clazy
        run: |
          sudo apt-get update
          sudo apt-get install clazy

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libnautilus-extension-dev qtbase5-dev libqt5x11extras5-dev

      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Generate Qt Sources
        working-directory: ${{runner.workspace}}/build
        run: cmake --build . --parallel $(nproc) --target photocross_autogen

      - name: Run clazy
        run: find $GITHUB_WORKSPACE/src -name "*.cpp" | xargs -P $(nproc) clazy-standalone -p ${{runner.workspace}}/build/compile_commands.json
        env:
          CLAZY_CHECKS: level0,level1,old-style-connect,no-non-pod-global-static
          CLAZY_IGNORE_DIRS: .*external.*
